@using TaskManagement.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_ColumnChart", new ChartAttributes
{
    ChartTitle = "Members Completed Hours",
    DataUrl = Url.Action("MembersCompletedHours", "Analytics"),
    XAxisTitle = "Member",
    YAxisTitle = "Completed Hours",
    ChartId = "completed"
})

@Html.Partial("_ColumnChart", new ChartAttributes
{
    ChartTitle = "Members Remaining Hours",
    DataUrl = Url.Action("MembersRemainingHours", "Analytics"),
    XAxisTitle = "Member",
    YAxisTitle = "Remaining Hours",
    ChartId = "remaining"
})

@Html.Partial("_PieChart", new ChartAttributes
{
    ChartTitle = "Task Status",
    DataUrl = Url.Action("TasksStatus", "Analytics"),
    XAxisTitle = "Task",
    YAxisTitle = "Status",
    ChartId = "TaskStatus"
})